body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;  /* Align items at the top of the screen */
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f8ff;
    padding: 2rem;
  }
  
  #instructions {
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .4rem 1rem rgba(0, 0, 0, 0.3); /* Drop shadow */
    width: 30vw;
    height: 20vh;
    align-self: center;
    margin-bottom: 2rem; /* Space between instructions and game board */
  }
  
  h2 {
    margin-top: 0;
    color: #333;
  }
  
  p {
    font-size: 1rem;
    color: #555;
  }
  
  #game-board {
    align-self: center;
    display: grid;
    grid-template-columns: repeat(5, 5vw);
    grid-gap: .5rem;
  }
  
  .light {
    width: 5vw;
    height: 5vw;
    background-color: #ffeb3b; /* Light on color */
    border: .1rem solid #ccc;
    border-radius: .5rem;
    cursor: pointer;
  }
  
  .light.off {
    background-color: #333; /* Light off color */
  }
  /* Congratulations Message */
.congrats-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    z-index: 1000;
}

.congrats-message.active {
    display: block;
}
/* Reset Button */
#resetButton {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
