body {
  background-color: #f0f8ff;
}

.container{
  display: flex;
  flex-direction: column;  /* Stack elements vertically */
  align-items: left;      /* Center horizontally */
  justify-content: space-between;  /* Space between canvas and buttons */
  height: 100%;             /* Take up full height */
  width: 60vw;  
}

#gameCanvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }  
#score {
    top: 0;
    left: 0;
    font-size: 13rem;
}

  /* Reset Button */
#resetButton {
    background-color: #ff5722;
    color: white;
    border: none;
    bottom: 0;
    width: 10vw;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 1rem;
    align-self: left;
    transition: background-color 0.3s ease;
}
  
#instructions {
    position: relative;
    background-color: #ffffff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 .35rem 1rem rgba(0, 0, 0, 0.3); /* Drop shadow */
    width: 90vw;
    align-items: center;
    align-self: right;
    margin-bottom: 2rem; /* Space between instructions and game board */
}

  /* Congratulations Message */
.congrats-message {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    z-index: 1000;
}

.congrats-message.active {
    display: block;
}

/* Gamepad Container */
#gamepad {
  position: fixed; /* Fix the gamepad to the right side */
  right: 0;  /* on the right edge */
  top: 50%;     /* Center the gamepad vertically */
  transform: translateY(-50%); /* Ensure it is exactly centered vertically */
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border-radius: 1rem;
  background-color: #f0f8ff;
}

/* Arrow Button Styling */
.arrow-btn {
  background-color: #ff5722;
  color: white;
  border: none;
  font-size: 2.4rem;
  width: 7rem;
  height: 4rem;
  margin: .5rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s;
}

.arrow-btn:hover {
  background-color: #45a049;
}

/* Layout for arrow buttons */
#gamepad > div {
  display: flex;
  justify-content: center;
}

#up {
  align-self: center;
}

/* Make the layout look like a gamepad */
#gamepad > div {
  flex-direction: row;
}